* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  background-color: hsl(193, 100%, 96%);
  background-image: url("./img/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-top: 50px;
  padding-left: 40px;
}
.logo img {
  width: 200px;
}
.button {
  margin-top: 57px;
  margin-right: 30px;
}
.button a {
  color: black;
  opacity: 0.6;
  font-size: 18px;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  transition: 0.4s;
}
.button a:hover {
  box-shadow: 0px 1px 10px 4px #c0b9b9;
}
.container-2 {
  display: flex;
  justify-content: space-between;
}
.content h3 {
  font-size: 40px;
  margin-top: 100px;
  width: 400px;
  line-height: 1.5;
  margin-left: 50px;
}
.content p {
  width: 440px;
  margin-left: 50px;
  line-height: 1.7;
  opacity: 0.7;
}
.button-2 {
  margin-top: 35px;
  margin-left: 50px;
}
.button-2 a {
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 15px 40px;
  border-radius: 30px;
}
.button-2 a:hover {
  opacity: 0.7;
}
.img-5 img {
  margin-top: 50px;
  width: 500px;
  margin-right: 40px;
  margin-bottom: 50px;
}
.dad-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.child {
  margin-top: 100px;
  color: black;
  width: 1100px;
  max-width: 1100px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  box-shadow: 0px 1px 10px 4px #eeecec;
  display: flex;
  justify-content: space-between;
}
.child-4 {
  margin-top: 100px;
  color: black;
  width: 1100px;
  max-width: 1100px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  box-shadow: 0px 1px 10px 4px #eeecec;
  display: flex;
  justify-content: space-between;
}
.content-2 h1 {
  padding-top: 150px;
  padding-left: 100px;
}
.h1-2 {
  padding-top: 150px;
}
.content-2 p {
  padding-top: 20px;
  width: 540px;
  padding-left: 100px;
  opacity: 0.7;
}
.p-2 {
  padding-top: 20px;
  width: 540px;
  padding-right: 20px;
  opacity: 0.7;
}
.img img {
  width: 400px;
  margin-right: 50px;
  margin-bottom: 90px;
  margin-top: 30px;
}
.img-2 img {
  width: 400px;
  margin-left: 50px;
  margin-top: 50px;
}
.dad-5 {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 4px #979292;
  position: relative;
  top: 90px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.text-h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  opacity: 0.8;
  margin-bottom: 30px;
}
.button-3 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  transition: 0.5s;
}
.button-3 span {
  background-color: hsl(322, 100%, 66%);
  padding: 15px 40px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.button-3:hover {
  transform: scale(1.2);
}
footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.container-3 {
  margin-left: 30px;
  padding-top: 140px;
}
.logo-img img {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.child-1 {
  margin-bottom: 20px;
}
.child-1 img {
  width: 20px;
  padding-bottom: 25px;
}
.contaner .child-1 span {
  color: white;
  opacity: 0.7;
  max-width: 400px;
  display: inline-block;
  margin-left: 15px;
  line-height: 1.8;
}
.child-2 {
  margin-top: 10px;
}
.child-2 img {
  width: 25px;
  padding-top: 5px;
}
.child-2 span {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}
.child-3 {
  margin-top: 20px;
}
.child-3 img {
  width: 25px;
}
.child-3 span {
  color: white;
  margin-left: 15px;
}
.container-4 {
  margin-left: 50px;
  width: 300px;
}
.container-4 ul {
  display: flex;
  margin-top: 180px;
  margin-right: 200px;
}
.container-7 {
  margin-left: 10px;
}
.container-4 .container-7 ul li a {
  margin-right: 100px;
  color: white;
}
.container-4 .container-7 ul li a:hover {
  text-decoration: underline;
}
.container-5 {
  display: flex;
  margin-top: 120px;
  margin-right: 70px;
  height: 300px;
  justify-content: space-between;
  flex-direction: column;
  width: 370px;
  margin-right: -30px;
}
.container-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-5 .container-6 a img {
  width: 50px;
  transition: 0.5s;
}
.container-5 .container-6 a img:hover {
  transform: scale(1.2);
}
.text {
  color: white;
  margin-left: 0px;
}
@media (max-width: 1117px) {
  .header {
    background-color: hsl(193, 100%, 96%);
    background-image: url("./img/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo img {
    width: 150px;
  }
  .logo {
    padding-left: 5px;
  }
  .button {
    padding-right: -10px;
  }
  .button a {
    font-size: 20px;
    padding: 10px 30px;
    font-weight: bold;
  }
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content {
    text-align: center;
  }
  .content h3 {
    font-size: 35px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .content p {
    width: 290px;
    margin: 0 auto;
    font-size: 20px;
    width: 90%;
  }
  .button-2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
  .img {
    margin: 30px auto;
  }
  .img-5 {
    margin: 30px auto;
  }
  .img-5 img {
    margin-right: 0px;
    width: 90%;
    max-width: 550px;
  }
  .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .child {
    flex-direction: column-reverse;
    width: 90%;
    max-width: 450px;
    height: 500px;
  }
  .child-4 {
    flex-direction: column;
    max-width: 450px;
    width: 90%;
    height: 500px;
  }
  .content-2 h1 {
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    padding-top: 0;
    font-size: 38px;
  }
  .content-2 p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding-left: 0;
    width: 300px;
    padding-top: 5px;
  }
  .img img {
    width: 300px;
    margin-bottom: 0;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  .dad-5 {
    width: 90%;
    max-width: 500px;
  }
  .dad-5 .text-h1 {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }
  .dad-5 .button-3 {
    margin-top: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .child-1 {
    display: flex;
  }
  footer .child-1 img {
    align-self: flex-start;
    width: 30px;
  }
  .container-7 ul {
    display: flex;
    flex-direction: column;
  }
  .container-4 {
    margin-left: 20px;
  }
  .text p {
    padding-top: 20px;
    text-align: center;
  }
  .container-5 {
    justify-content: flex-end;
    margin-top: 0px;
    margin: 0 auto;
  }
}
